{% extends 'main/layout.html' %}

{% block title %}Alphabet{% endblock %}

{% block content %}
    <div class="features">
        <h1>Alphabet</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit cupiditate natus, deleniti facere aliquam, ullam enim voluptates veritatis itaque sapiente illo nesciunt aperiam ipsum et earum odit veniam vitae dolor.</p>
        <button class="btn btn-warning">To the page about us</button>
    
        {{ katakana }}
    </div>


{% endblock %}+